<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style/style.css">

    <title>No. 1 Job Portal | Reach out to Millions of Job Seekers</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand font-italic" href="{{ url_for('index') }}"><strong><span class="text-warning">JTE</span> Recruit</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{{ url_for('employee') }}">Job Seekers</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('employer') }}">Companies</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- /navbar -->

    <!-- Entry form -->
    <div class='container-fluid'>
      <div class='row p-5'>
        <div class='col-8'>
          <form class='form' method='POST'>
            <table class='table border'>
              <thead>
                <tr>
                  <th colspan='2' scope='col' class='bg-dark text-light'><h5>Enter the new job detail below : </h5></th>
                </tr>
              </thead>
              <tbody>
                <!-- Entry for 'Position opening' -->
                <tr>
                  <th scope='col'>Position : </th>
                  <td scope='col'><input type="text" class="form-control font-italic" name="position" placeholder="e.g Sales Manager" value='{{ data.position }}'></td>
                </tr>
                <!-- Entry for 'Company Detail' -->
                <tr>
                  <th scope='col'>Company : </th>
                  <td scope='col'><input type="text" class="form-control font-italic" name="company" placeholder="e.g ABC Pte Ltd" value='{{ data.company }}'></td>
                </tr>
                <!-- Entry for 'Description' -->
                <tr>
                  <th scope='col'>Description : </th>
                  <td scope='col'><textarea type="text" class="form-control" name="description">{{data.description}}</textarea></td>
                </tr>
                <!-- Entry for 'Salary' -->
                <tr>
                  <th scope='col'>Salary : </th>
                  <td scope='col'>
                    <select name="salary" class="form-control">
                      <option {% if data.salary == 2000 %} selected="selected"{% endif %} value="2000" >$2,000</option>                    
                      <option {% if data.salary == 3000 %} selected="selected"{% endif %} value="3000" >$3,000</option>
                      <option {% if data.salary == 4000 %} selected="selected"{% endif %} value="4000" >$4,000</option>
                      <option {% if data.salary == 5000 %} selected="selected"{% endif %} value="5000" >$5,000</option>
                      <option {% if data.salary == 6000 %} selected="selected"{% endif %} value="6000" >$6,000</option>
                      <option {% if data.salary == 7000 %} selected="selected"{% endif %} value="7000" >$7,000</option>
                      <option {% if data.salary == 8000 %} selected="selected"{% endif %} value="8000"}>$8,000</option>
                      <option {% if data.salary == 9000 %} selected="selected"{% endif %} value="9000"}>$9,000</option>
                      <option {% if data.salary == 10000 %} selected="selected"{% endif %} value="10000" >$10,000</option> 
                    </select>
                  </td>
                </tr>
                <!-- Entry for 'Nationality' -->
                <tr>
                  <th scope='col'>Nationality : </th>
                  <td scope='col'>
                    <select name="nationality" class="form-control">
                      <option {% if data['requirement'].nationality == 'SGP' %} selected="selected" {% endif %} value="SGP" selected>Singaporean only</option>                    
                      <option {% if data['requirement'].nationality == 'PR' %} selected="selected" {% endif %} value="PR">Permanent Resident</option>
                      <option {% if data['requirement'].nationality == 'SGPPR' %} selected="selected"{% endif %} value="SGPPR">Singaporean / Permanent Resident</option>
                      <option {% if data['requirement'].nationality == 'ALL' %} selected="selected"{% endif %} {% if data['requirement'].nationality == 'ALL' %} selected="selected"{% endif %} value="ALL">Open for all</option>
                    </select>
                  </td>
                </tr>
                <!-- Entry for 'Professional License' -->
                <tr>
                  <th scope='col'>Education / Professional License : </th>
                  <td scope='col'><input type="text" class="form-control font-italic" name="professional_license" placeholder="e.g Bachelor in Accountacy , ACCA" value='{{ data['requirement'].professional_license }}'></td>
                </tr>
                 <!-- Entry for 'Working Experience' -->
                <tr>
                  <th scope='col'>Working Experience : </th>
                  <td scope='col'>
                    <select name="working_experience" class="form-control">
                      <option {% if data['requirement'].working_experience == 'Not Required' %} selected="selected" {% endif %} value="Not Required<" selected>Not Required</option>                    
                      <option {% if data['requirement'].working_experience == '1 year' %} selected="selected" {% endif %} value="1 year">1 year</option>
                      <option {% if data['requirement'].working_experience == '2-3 years' %} selected="selected" {% endif %} value="2-3 years">2-3 years</option>
                      <option {% if data['requirement'].working_experience == '4-6 years' %} selected="selected" {% endif %} value="4-6 years">4-6 years</option>
                      <option {% if data['requirement'].working_experience == '> 7 years' %} selected="selected" {% endif %} value="> 7 years">> 7 years</option>
                    </select>
                  </td>
                </tr>
              </tbody>
            </table>
            <a href="{{ url_for('employer') }}" class='btn btn-warning mr-1'> Cancel </a>
            <input type="submit" value='submit' class="btn btn-secondary"/>
          </form>
        </div>
      </div>
    </div>

    <!-- /entry form -->
    
    
    <!-- Footer -->
    <div class="bg-light border-top pt-3 pb-5">
        <h4 class=' font-italic text-center'>" Introducing talent to opportunity! "</h4>
        <div class="text-center">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-linkedin"></a>
        </div>
    </div>
    <!-- /.footer --> 

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>