<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>  
    <div class='container-fluid p-5'>
      <p>You are about to remove the following listing. To remove, please click on the '<span class='text-danger'>Confirm Remove</span>' Button</Confirm></p>
      <table class="table border">
        <tr>
          <td> {{ d.position }} </td>
          <td> {{ d.company }} </td>
          <td> {{ "${:,}".format(d.salary) }} </td>
          <td> {{ d.description }} </td>
          <td> - Nationality: {{ d.requirement.nationality }}<br/>
               - Required License: {{ d.requirement.license }}<br/>
               - Working Experience: {{ d.requirement.experience }} years<br/>
               - Driving License : {{ d.requirement.driving_license }}</td>
        </tr>
      </table>
      <a class='btn btn-danger text-light' href=" {{ url_for('confirm_remove_post', task_id=d['_id'] )}}">Confirm Remove</a>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>